.title{
    margin-top: 10px;
    font-size: 40px;
}
.one_director{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
    width: 1872px;
    border: 2px solid #256D7B;

}
.one_director img{
    height: 450px;
    width: 300px;
    padding: 10px;
}
.all_directors{

}
.info_about_director{
    padding-left: 20px;
    margin-top: 15px;
    font-weight: 300;
    color: grey;
}
.elem_info{
    margin-top: 15px;
}
.description{
    width: 800px;
    font-weight: 300;
    color: grey;
}
.films{
    margin:0 auto;
    padding-top: 10px;
    max-width: 930px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;

}
.one_film{
    width: 200px;
    padding-left: 25px;
    padding-top: 10px;
}
.movie_link{
    text-decoration: none;
    color: black;
}
.movie_link:hover{
    text-decoration: none;
    color: #256D7B;
}