{% extends 'base.html' %}
{% load static %}
{% block title%}Фильм - {{ movie.title }}{% endblock %}

{% block css%}<link rel="stylesheet" href="{% static 'kino/css/detail_movie.css' %}">{% endblock %}

{% block content%}
    <div class="one_movie">
        <h2 align="center">{{ movie.title }}</h2>
        <img src="{{ movie.image.url }}" alt="" align="left">
        <div class="info_about_movie" align="left">
            <h3 class="elem_info">Год выхода: {{ movie.year }}</h3>
            <br>
            <h3 class="elem_info">Бюджет: {{ movie.budget }} млн. $</h3>
            <br>
            <h3 class="elem_info">Режиссер: <a href="http://127.0.0.1:8000/directors/{{ movie.director_id }}" class="link">{{ movie.director }}</a></h3>
            <br>
            <h3 class="elem_info">Описание: {{ movie.description }}</h3>
            <br>
            <h3 class="elem_info">Актеры: <div class="actors">{%  for actor in movie.actors.all%} <a href="http://127.0.0.1:8000/actors/{{ actor.id }}" class="actor">{{ actor.first_name }} {{ actor.second_name}} <br></a> {% endfor %}</div></h3>
        </div>
    </div>
    <div class="preview" align="center">
        <h1>Смотреть фильм</h1>
        <iframe src="{{ movie.link_on_youtube }}" class ="video" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}