{%extends 'base.html'%}
{% load static %}
{% block title %}Все Режиссеры{% endblock %}
{% block css %}<link rel="stylesheet" href=" {% static 'kino/css/list_director.css' %}">{% endblock %}

{% block content %}
    <h2 class="title" align="center">Все Режиссеры</h2>
    <div class="all_directors" align="center">
    {% for director in Directors %}
        <div class="one_director" >
        <h2 align="center">{{ director.first_name }} {{ director.second_name }}</h2>
        <img src="{{ director.image.url }}" alt="" align="left">
        <div class="info_about_director" align="left">
            <h3 class="elem_info">Дата рождения: {{ director.date_of_birth }}</h3>
            <h3 class="elem_info">Рост: {{ director.height }}</h3>
            <h3 class="elem_info">Жанры: {{ director.genres }}</h3>
        </div>
        <div class="button">
            <div class="link">
                <a href="{{ director.id }}" class="link">К Режиссеру</a>
            </div>
        </div>
        </div>
    {% endfor %}
    <div class="paginator">
            {% for p in page_obj.paginator.page_range  %}
                <li class="pags_border">
                    <a href="?page={{ p }}" class="pags">{{ p }}</a>
                </li>
            {% endfor %}
    </div>
    </div>
{% endblock %}