{%extends 'base.html'%}
{% load static %}
{% block title %}Все Фильмы{% endblock %}
{% block css %}<link rel="stylesheet" href=" {% static 'kino/css/list_movie.css' %}">{% endblock %}

{% block content %}
    <div class="search_bar" align="center">
        <h2 class="search_head">Поиск фильма</h2>
        <form action="{% url 'search' %}" method="get" class="form">
            <input type="search" placeholder="Введите название фильма..." name="q" class="form_control" required="">
            <button type="submit" class="btn1">
                <span class="search" aria-hidden="true"></span>
            </button>
        </form>
    </div>
    <h2 class="title" align="center">Все фильмы</h2>
    <div class="all_movies" align="center">
    {% for movie in object_list %}
        <div class="one_movie" >
        <h2 align="center">{{ movie.title }}</h2>
        <img src="{{ movie.image.url }}" alt="" align="left">
        <div class="info_about_film" align="left">
            <h3 class="elem_info">Год выхода: {{ movie.year }}</h3>
            <h3 class="elem_info">Режиссер: {{ movie.director }}</h3>
            <h3 class="elem_info">Бюджет: {{ movie.budget }} млн. $</h3>
            <p class="p_elem_info">{{ movie.description }}</p>
        </div>
        <div class="button">
            <div class="link">
                <a href="/movies/{{ movie.id }}" class="link">К Фильму</a>
            </div>
        </div>
        </div>
    {% endfor %}
    <div class="paginator">
            {% for p in page_obj.paginator.page_range  %}
                <li class="pags_border">
                    <a href="?{{ q }}page={{ p }}" class="pags">{{ p }}</a>
                </li>
            {% endfor %}
    </div>
    </div>
{% endblock %}